.card{

border:1px solid gray;

padding:15px;

margin:15px;

border-radius:10px;

}

.passed{

color:green;

font-weight:bold;

}

.failed{

color:red;

font-weight:bold;

}

.pending{

color:gray;

font-weight:bold;

}